* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chinese Rocks Rg', sans-serif;
    letter-spacing: 2px;
}
:root {
    --main-color: #DF080F;
}
html {
    scroll-behavior: smooth;
}
body {
    width: 100%;
    max-width: 1920px;
    height: 100%;
}
header {
    width: 100%;
    /* height: 15vh; */
    height: 144.45px;
    display: flex;
    flex-flow: column wrap;
}
header a {
    color: inherit;
    text-decoration: none;
}
header ul {
    list-style-type: none;
}
.header1 {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-color: darkred;
    color: white;
}
.header2 {
    flex: 2;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}
.header2div1{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
}
.header2 form {
    flex: 1;
    display: none;
}
.menu_icon {
    transition-duration: 0.4s;    
    text-shadow: 2px 2px 2px white;
    color: white;
    font-size: 2.5rem;
    cursor: pointer;
    position: relative;
    left: 10%;
    transition-duration: 0.3s;
}
.div333 {
    display: none;
    width: 100vw;
    /* height: 48.5vh; */
    height: 467.055px;
    z-index: 20;
    background-color: darkred;
    position: absolute;
    /* top: 14.8vh; */
    top: 88px;
    animation: div333 0.5s 1;
}
@keyframes div333 {
    /* from {top: 5vh}
    to { top: 15vh;}     */
    from {top: 48.15px}
    to {top: 88px}
}
.div333 ul {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    gap: 3.8rem;
    list-style-type: none;
    font-weight: 100;
    font-size: 1.8rem;
    text-align: center;
    color: white;
}
.div333 ul li {
    transition-duration: 0.4s;
}
.div333 ul li:hover {
    color: red;
}
#div333checkbox {
    display: none;
}
#div333checkbox:checked ~ .div333 {
    display: block;
}
.header2 nav ul {
    display: flex;
    flex-flow: row wrap;
    gap: 5rem;
    list-style-type: none;
}
.header2 nav ul li {
    font-size: large;
    font-weight: 100;
    transition-duration: 0.3s;
}
.header2 nav ul li:hover {
    color: var(--main-color);
}
.header2div2 {
    margin-right: 1rem;
}
.header2div2 button {
    width: 130px;
    height: 40px;
    border-radius: 20px;
    font-size: large;
    transition-duration: 0.4s;
    cursor: pointer;
}
.header2div2 button:hover {
    background-color: darkred;
    color: white;
}
.header2div3btn1 {
    background-color: #FFF2D9;
    color: #9E3438;
    border: 2px solid #9E3438;
}
.header2div3btn2 {
    background-color: #9E3438;
    color: white;
    border: none;
}
.section1 {
    width: 100%;
    /* height: 70vh; */
    height: 674.1px;
    background-image: url("https://static.wixstatic.com/media/11062b_9975aafd8ed24c49a81dc5bd100b1520~mv2.jpg/v1/fill/w_1903,h_1867,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/11062b_9975aafd8ed24c49a81dc5bd100b1520~mv2.jpg");
    background-size: cover;
    background-position: 50% 10%;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}
.section1 h1 {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    letter-spacing: 5px;
    white-space: nowrap;
}
.section1 h2 {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    letter-spacing: 3px;
    text-align: center;
}
.section1 button {
    position: absolute;
    left: 50%;
    top: 73%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: transparent;
    width: 160px;
    height: 40px;
    border: 2px solid white;
    border-radius: 20px;
    font-size: large;
    transition-duration: 0.3s;
}
.section1 button:hover {
    background-color: white;
    color: var(--main-color);
}
.section1 img {
    position: absolute;
    left: 50%;
    top: 88%;
    transform: translate(-50%, -50%);
    height: 4rem;
    color: white;
    filter: invert(100%);
}
.section2 {
    width: 100%;
    /* height: 70vh; */
    height: 674.1px;
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.section2 > div {
    flex: 1;
    position: relative;
    height: 100%;
}
.section2 > div img {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
}
.section2 > div h2 {
    position: absolute;
    left: 50%;
    top: 56%;
    transform: translate(-50%);
    font-size: 40px;
    letter-spacing: 5px;
}
.section2 > div p {
    position: absolute;
    left: 50%;
    top: 64%;
    transform: translate(-50%);
    text-align: center;
    white-space: nowrap;
}
.section2 button {
    position: absolute;
    left: 50%;
    top: 74%;
    transform: translate(-50%);
    background-color: #FFF2D9;
    border: 2px solid darkred;
    border-radius: 20px;
    height: 40px;
    width: 140px;
    font-size: large;
    color: #9E3438;
    transition-duration: 0.3s;
}
.section2 button:hover {
    background-color: darkred;
    color: white;
}
.section3 {
    width: 100%;
    /* height: 90vh; */
    height: 866.7px;
    background-image: url("/images/asia.jpg");
    background-size: cover;
    background-position: 80% 50%;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.section3div1 {
    flex: 3;
    position: relative;
    backdrop-filter: brightness(45%);
}
.section3div2 {
    flex: 1;
    position: relative;
    backdrop-filter: brightness(45%);
}
.section3div1 h2 {
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 5px;
    position: absolute;
    left: 10%;
    top: 23%;
}
.section3div1 .p1 {
    font-size: larger;
    position: absolute;
    left: 10%;
    top: 48%;
    max-width: 500px;
}
.section3div1 .p2 {
    font-size: larger;
    line-height: 23px;
    position: absolute;
    left: 10%;
    top: 55%;
    max-width: 500px;
}
.section3div2 img {
    position: absolute;
    top: 24%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.section4 {
    display: flex;
    flex-flow: row wrap;
    /* height: 65vh; */
    height: 625.95px;
    width: 100%;
}
.section4 div {
    position: relative;
}
.section4div1 {
    flex: 1;
    background-color: white;
}
.section4div1 img {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
}
.section4div1 p {
    position: absolute;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: 100;
    text-align: center;
}
.section4div1 h2 {
    position: absolute;
    left: 50%;
    top: 67%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 4px;
    text-align: center;
    white-space: nowrap;
}
.section4div1 button {
    position: absolute;
    left: 50%;
    top: 84%;
    transform: translate(-50%, -50%);
    background-color: #FFF2D9;
    border: 2px solid darkred;
    border-radius: 20px;
    height: 40px;
    width: 170px;
    font-size: large;
    color: #9E3438;
    transition-duration: 0.3s;
}
.section4div1 button:hover {
    background-color: darkred;
    color: white;
}
.section4div2 {
    flex: 1;
    background-color: var(--main-color);
    color: white;
    position: relative;
}
.section4div2 h2 {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 4px;
    white-space: nowrap
}
.section4div2 p {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 20px;
}
.section4div2 form {
    position: relative;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    height: 50%;
    width: 100%;
}
.guestslabel {
    position: absolute;
    left: 36%;
    top: 0%;
    transform: translate(-50%, -50%);
}
#guests {
    position: absolute;
    left: 50%;
    top: 12%;
    transform: translate(-50%, -50%);
}
.datelabel {
    position: absolute;
    left: 33%;
    top: 24%;
    transform: translate(-50%, -50%);
}
#date {
    position: absolute;
    left: 50%;
    top: 36%;
    transform: translate(-50%, -50%);
}
.timelabel {
    position: absolute;
    left: 33%;
    top: 48%;
    transform: translate(-50%, -50%);
}
#time {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
.section4div2 form select {
    width: 40%;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 0px 20px;
    outline: none;
}
.section4div2 form select:focus {
    border: 2px solid black;
}
.section4div2 form select option {
    background-color: var(--main-color);
}
.section4div2 form input {
    width: 40%;
    height: 40px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 20px;
    color: white;
    padding: 0px 0px 0px 20px;
    outline: none;
}
.section4div2 form button {
    width: 40%;
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 0px 20px;
    color: var(--main-color);  
    font-size: large;
    transition-duration: 0.4s;
    position: absolute;
    left: 50%;
    top: 83%;
    transform: translate(-50%, -50%);
}
.section4div2 form button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

button {
    cursor: pointer;
}
.date {
    background-color: #DF080F;
}
::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}
.section5 {
    background-color: #FFF2D9;
    width: 100%;
    /* height: 60vh; */
    height: 577.8px;
    display: flex;
    flex-flow: column wrap;
}
.section5div1 {
    flex: 3;
    position: relative;
}
.section5div1 p {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}
.section5div1 h2 {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    letter-spacing: 4px;
    color: var(--main-color);
}
.section5div2 {
    flex: 7;
    display: flex;
    flex-flow: row wrap;
    gap: 1%;
}
.section5div2 > div {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* transition-duration: 2s; */

}
.section5div2 div div {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    backdrop-filter: brightness(40%);
    /* transition-duration: 2s; */
}
.section5div2 div div p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 30px;
}
.section5div2 > div:hover {
    background-size: 200%;
}
.section5div2 > div:hover > div {
    display: block;
}
.section5div2img1 {
    background-image: url("https://static.parastorage.com/services/instagram-business/1.753.0/assets/ig-templates-accounts/Editor/Asian%20Restaurant%20Remake/01.jpg");
}
.section5div2img2 {
    background-image: url("https://static.parastorage.com/services/instagram-business/1.753.0/assets/ig-templates-accounts/Editor/Asian%20Restaurant%20Remake/02.jpg");
}
.section5div2img3 {
    background-image: url("https://static.parastorage.com/services/instagram-business/1.753.0/assets/ig-templates-accounts/Editor/Asian%20Restaurant%20Remake/03.jpg");
}
.section5div2img4 {
    background-image: url("https://static.parastorage.com/services/instagram-business/1.753.0/assets/ig-templates-accounts/Editor/Asian%20Restaurant%20Remake/04.jpg");
}
.section5div2img5 {
    background-image: url("https://static.parastorage.com/services/instagram-business/1.753.0/assets/ig-templates-accounts/Editor/Asian%20Restaurant%20Remake/05.jpg");
}
.section5div3 {
    flex: 1;
}
footer {
    width: 100%;
    /* height: 45vh; */
    height: 433.35px;
    background-color: var(--main-color);
    display: flex;
    flex-flow: row wrap;
    color: white;
}
footer a {
    text-decoration: none;
    color: inherit;
}
.footerdiv1 {
    flex: 9;
    display: flex;
    flex-flow: column wrap;
}
.footerdiv1 .div1 {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
    padding-left: 5%;
}
.footerdiv1 .div1 div .p1 {
    font-size: 30px;
    text-align: center;
    line-height: 40px;
}
.footerdiv1 .div1 div .p2 {
    text-align: center;
}
.footerdiv1 form {
    flex: 1;
    padding-left: 5%;
    position: relative;
}
.footerdiv1 form label {
    position: absolute;
    top: 29%;
    transform: translatey(-50%);
}
.footerdiv1 form input {
    position: absolute;
    top: 59%;
    transform: translatey(-50%);
    width: 66%;
    height: 40px;
    border: 3px solid white;
    border-radius: 20px;
    padding: 12px 20px;
    background-color: #03244A;
    outline: none;
    color: white;
}
.footerdiv1 form input::placeholder {
    color: white;
}
.footerdiv1 form button {
    position: absolute;
    top: 59%;
    left: 75%;
    width: 14%;
    height: 40px;
    font-size: large;
    border: none;
    border-radius: 20px;
    background-color: white;
    color: var(--main-color);
    transform: translatey( -50%);
    transition-duration: 0.54s;
}
.footerdiv1 form button:hover {
    color: white;
    background-color: darkred;
}
.footerdiv1 .div2 {
    flex: 1;
    position: relative;
    padding-left: 5%;
    font-family: sans-serif !important;
}
.footerdiv1 .div2 .span1 {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    font-size: small;
    font-family: sans-serif;
    letter-spacing: 1px;
}
.footerdiv1 .div2 .span2 {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translatey( -50%);
}
.footerdiv1 .div2 .span2 i {
    padding-left: 10px;
}
.footerdiv2 {
    flex: 13;
    position: relative;
}
.footerdiv2 img {
    position: absolute;
    left: 88%;
    top: 32%;
    transform: translate(-50%, -50%);
    height: 8rem;
    color: white;
    filter: invert(100%);
}
a {
    color: inherit;
    text-decoration: none;
}

@media screen and (min-width: 1401px) and (max-width: 99999px) {
    .footerdiv1 {
        flex: 14;
    }
}
@media screen and (max-width: 1400px) {
    .section5 {
        height: 400px;
    }
    .section5div2 {
        flex: 6;
    }
    .section3div2 img {
        left: 36%;
    }
    .footerdiv1 {
        flex: 44;
    }
    .footerdiv2 img {
        left: 60%;
    }
}
@media screen and (max-width: 1300px) {
	.section5div2 div div p {
        font-size: 22px !important;
    }
}
@media screen and (max-width: 992px) {
    header {
		height: 90px;
	}
    .header2div1 {
        display: none;
    }    
    .header2 {
        background-color: darkred;
    }
    .header2 form {
        display: block;
    }
    .header2 nav {
        display: none;
    }
    .header2div2 {
        display: none;
    }
    .section3div2 img {
        left: 26%;
    }
    .section4 {
        flex-flow: column wrap;
        /* height: 130vh; */
        height: 1251.9px;
    }
    .section5div2 {
        flex: 3;
    }
    .section5div2 div div p {
        font-size: 16px !important;
    }
    .footerdiv2 {
        display: none;
    }
    .footerdiv1 .div1 {
        justify-content: space-evenly !important;
    }
    .footerdiv1 .div1 {
        padding-left: 0;
    }
}
@media screen and (max-width: 768px) {
    .section1 h1 {
        font-size: 4rem;
    }
    .section2 {
        flex-flow: column wrap;
        /* height: 120vh; */
        height: 1155.6px;
        align-items: normal;
    }
    .section2 > div img {
        height: auto;
    }
    .section2 > div img {
        top: 10%;
    }
    .section2 > div h2 {
        top: 50%;
    }
    .section2 > div p {
        top: 65%;
    }
    .section2 > div button {
        top: 82%;
    }
    .section3 {
        /* height: 95vh; */
        height: 914.85px;
    }
    .section3div1 .p2 {
        top: 58%;
    }
    .section3div2 {
        display: none;
    }
    .section5div2img3 {
        display: none;
    }
    .section5div2img4 {
        display: none;
    }
    .section5div2 div div p {
        font-size: 23px !important;
    }
    footer {
        /* height: 55vh; */
        height: 529.65px;
    }
    .footerdiv1 .div1 {
        flex-flow: column wrap;
        gap: 20px;
    }
    .footerdiv1 .div2 .span2 {
        top: 77%;
        left: calc(5% - 10px)
    }
}
@media screen and (max-width: 600px) {
    .section3 h2 {
        left: 3%;
        top: 10%;
    }
    .section3 .p1 {
        left: 3%;
        top: 35%;
    }
    .section3 .p2 {
        left: 3%;
        top: 45%;
    }
	.section5div2 div div p {
        font-size: 18.5px !important;
    }
}
@media screen and (max-width: 500px) {
	.section5div2 div div p {
        font-size: 14px !important;
    }
}
@media screen and (max-width: 425px) {
    header {
		height: 125px;
	}
	.header1 {
		flex-flow: column-reverse wrap;
		gap: 10px;
		font-size: large;
		padding-top: 10px;
	}
    .div333 {
		top: 125px;
	}
	@keyframes div333 {
		from {top: 58.15px}
		to {top: 125px}
	}
    .section5div2img2 {
        display: none;
    }
    .section5div2 div div p {
        font-size: 18px !important;
    }
    .section3 {
        /* height: 90vh; */
        height: 866.7px;
    }
    .section3 h2 {
        left: 1.5%;
        top: 10%;
    }
    .section3 .p1 {
        left: 1.5%;
        top: 35%;
    }
    .section3 .p2 {
        left: 1.5%;
        top: 45%;
    }
    .section4div1 h2 {
        font-size: 30px;
        text-align: center;
    }
    .section4div2 h2 {
        top: 12%;
        white-space: normal;
    }
    .section4div2 p {
        max-width: fit-content;
    }
    .section4div2 form {
        top: 78%;
    }
    .section5div1 h2 {
        font-size: 42px;
    }
    .section1 h1 {
        font-size: 2.4rem;
        text-align: center;
    }
}